<div class="container question">
  <h1>All Questions</h1>
<div class="question-container">
  <ul>
    <% @questions.each do |ques| %>
       <%= link_to question_path(ques) do %>
        <li>
            <h4><%= ques.title %></h4>
            <p><%= ques.body %></p>
        </li>
      <% end %>
    <% end %>
</ul>
</div>
<div class="digg_pagination pagination">
  <nav aria-label="Page navigation">

  <%= paginate @questions %>
  </nav>
</div>
</div>
