<div class="jumbotron welcome">
  <h1>Welcome to Awesome Answers</h1>
  <!-- <%# image_tag "/roderick.jpg", class: "homepage-image" %>  when the picture is inside of public folder-->
    <%= image_tag "roderick.jpg", class: "homepage-image" %> <%# this image is now inside of assets>images %>
    <!-- <div class="navbar-form navbar-right">
      <%# form_tag questions_path, :method => 'get' do %>
      <%# text_field_tag :search_term, params[:search_term], class: 'form-control' %>
      <%# submit_tag "Search", class: 'btn btn-default'%>
      <!-- <%# submit_tag "Search", :name => nil %> why is there :name => nil ? I don't know-->
      <%# end %>
    </div> -->
</div>
